<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h1 style="color:blue">About Application:</h1><br/>
<center><h3>Url Shortener App in Python Django Framework</h3></center><br/>

<h4><b>Technologies</b></h4><br/>
<h5><i>
1. Django Framework <br/>
2. Python <br/>
3. HTML, CSS, Bootstrap <br/>
</i></h5><br/>

<h4><b>Summary</b></h4><br/>

<h5>It is a tool to shorten a URL or reduce a link.<br>
    Use <b>URL Shortener</b> to create a shortened link making it easy to remember.</h5>

{% endblock %}
</body>
</html>